<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Image</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <button id="showButton">画像を表示</button>
    <div id="overlay">
        <img id="overlayImage" src="{{ url_for('static', filename='ウケる.png') }}" alt="Your Image">
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>

